/* ====== MIDIA QUERY ====== */

@media screen and (min-width: 762px) {
    #header-container__title p{
        display: inline-block;
    }
    #header-container__title ul{
        display: flex;
        align-items: center;
        gap: 5px;

    }
    #nav-container p {
        top: 65px;
        border-width: 0px;
    }
    main {
        max-width: 1000px;
        margin: auto;
        display: grid;
        grid-template-columns: auto 30% 60% auto;
    }

    section#apresentation-section {
        grid-column: 2 / 3;
        box-sizing: content-box;
        align-self: start;
        position: sticky;
        top: 120px;
        z-index: 1;
    }

    div#apresentation__title a{
        font-size: 1.2em;
    }

    div#apresentation__title a:hover{
        font-size: 1.3em;
    }

    section#desc-section {
        grid-column: 3 / 4;
    }
}

@media screen and (max-width: 400px) {

    div.skill-container ul{
        width: 50%;
    }
    div.skill-container img{
        display: none;
    }
    div.skill-container h2 {
        font-size: 1em;
    }
    div.skill-container li{
        font-size: .8em;
    }
    div.skill summary{
        font-size: .9em;
    }
}