@charset "UTF-8";

:root {
    --main-color: #0061D7;
    --secundary-color: #215BA3;
    --background-color: #f8f8f8;
    --card-background-color: #f0f0f0;
    --card2-background-color: #d9e3f0;
    --inverted-main-color: #2D4B70;
    --text-color: #292D33;
    --white-text-color: #f8f8f8; 
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    background-color: var(--background-color);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

p {
    text-align: justify;
}

header#header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0px;
    z-index: 2;

    padding: 10px;
    margin-bottom: 20px;

    background-color: var(--main-color);
    color: var(--white-text-color);
}

header#header-container h1{
    font-size: 1.6em;
}

#header-container__title p {
    display: none;
    font-size: .8em;
}

#header-container__title ul{
    display: none;
    list-style: none;
}

#header-container__title a{
    font-size: .9em;
    color: var(--white-text-color);
    transition: color .15s , font-size .15s;
}

#header-container__title a:hover {
    color: var(--inverted-main-color);
    font-size: 1em;
}

#nav-container ul{
    display: flex;
    align-items: center;
    gap: 10px;
}

#nav-container li{
    text-decoration: none;
    list-style: none;
}

#nav-container a{
    color: var(--white-text-color);
    padding: 5px;
    aspect-ratio: 1/1;
    border-radius: 5px;
    font-size: 1.2em;
    transition: color .15s , font-size .15s;
}

#nav-container a:hover {
    color: var(--inverted-main-color);
    font-size: 1.5em;
}

main {
    display: grid;
    grid-template-columns: auto 90% auto;
    gap: 20px;
}

main > section {
    grid-column: 2 / 3;
}

section#apresentation-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

section#apresentation-section img{
    aspect-ratio: 1 / 1;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;

    border: 5px solid var(--card-background-color);
    outline: 5px solid var(--main-color);
}

section#desc-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.theme-section {
    background-color: var(--card-background-color);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.082);
}

.theme-section h2 {
    color: var(--main-color);
    margin-bottom: 10px;
}

/* ====== SKILL STYLE ====== */
article#skills-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div.skill{
    background-color: var(--card2-background-color);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.041);
    
    transition: box-shadow .25s ease-in-out;
}

div.skill h2{
    margin-bottom: 10px;
}

div.skill:hover {
    cursor: pointer;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.082);
}

div.skill-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.skill-container img{
    display: inline-block;
    width: 80px;
}

div.skill-container ul{
    list-style: none;
}

div.skill-container span{
    font-weight: bold;
    color: var(--inverted-main-color);
}

div.skill summary{
    color: var(--main-color);
    margin-top: 10px;
    font-weight: bold;
}

div.skill details ul{
    margin: 20px 0px 0px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div.skill details li{
    list-style:decimal-leading-zero;
    font-size: .9em;
}

@media screen and (min-width: 748px) {
    #header-container__title p{
        display: inline-block;
    }
    #header-container__title ul{
        display: flex;
        align-items: center;
        gap: 5px;

    }
    main {
        max-width: 1000px;
        margin: auto;
        display: grid;
        grid-template-columns: auto 30% 60% auto;
    }

    section#apresentation-section {
        grid-column: 2 / 3;
        box-sizing: content-box;
        align-self: start;
        position: sticky;
        top: 120px;
        z-index: 1;
    }

    section#desc-section {
        grid-column: 3 / 4;
    }
}